a:hover{text-decoration: none;}
.nfc_sbanner{background: url(../images/top_bannerbg.png) repeat-x; border: none; height: 154px;}
.nfc_snav{width: 1230px;margin: 0 auto;}
.nfc_snav a{color: #fff;}
.nfc_slogo img{float: left;margin-top: 49px;}
.nfc_slogo span{color: #fff; display:block; float:left; margin-top: 54px;margin-left: 25px; font-size: 30px; font-family: "微软雅黑"; } 
.nfc_logoff{margin-top: 52px;}
.btn-border{border: 2px solid #fff; padding: 0.5rem 1.3rem; font-size: 20px; border-radius: 0.4rem;}
/*中间部分*/
.content-wrap{background: #F5F5F5;}
.sidebar,.main-content{background: red;}
 .sidenav{  background:green;}
 .main_wicket{ background: green;}
